body{
    font-family: "Avenir Next";
    background-color: darkcyan;
    color: lightcyan ;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
